* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0 30px;
  font-family: "Poppins", sans-serif;
  /* background: red; */
}
body button {
  cursor: pointer;
}
.main {
  width: 100%;
  max-width: 700px;
  /* background: red; */
  margin: 0 auto;
  /* height: 100vh;
  overflow: hidden; */
}
.main .heading {
  text-align: center;
  position: relative;
  margin: 25px auto;
  /* background: yellow; */
  /* font-family: 'Oswald', sans-serif; */
}
.main .heading h1 {
  display: inline-block;
  margin: 25px 0;
}
.main .heading button {
  position: absolute;
  right: 15px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.main .addToDoDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}
.main .addToDoDiv .input {
  flex-grow: 1;
  position: relative;
  margin-right: 8px;
}
.main .addToDoDiv .input input {
  width: 100%;
  height: 50px;
  font-size: 22px;
  padding: 0 35px 0 15px;
  border-radius: 8px;
}
.main .addToDoDiv .input .cross {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 22px;
  display: none;
}
.main .addToDoDiv .addBtn {
  background: green;
  color: #fff;
  border: none;
  font-size: 22px;
  padding: 10px 25px;
  border-radius: 8px;
}

.main .toDoDiv {
  overflow-y: scroll;
  max-height: 640px;
  padding-bottom: 5px;
}
.main .toDoDiv::-webkit-scrollbar {
  width: 0;
}
.main .toDo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  /* min-height: 80px; */
  background: skyblue;
  margin-bottom: 5px;
  border-radius: 8px;
  padding: 20px 15px;
  transition: all 0.5s ease;
}
.main .toDo .toDoLeft {
  /* margin: 0 20px; */
  margin-right: 20px;
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  /* background: yellow; */
  height: 100%;
  overflow: hidden;
  word-break: break-all;
  transition: all 0.5s ease;
}

.main .toDo .toDoLeft span {
  margin-left: 10px;
  /* background: green; */
  max-width: 100%;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main .toDo .toDoLeft span:hover {
  white-space: wrap;
}
.main .toDo .toDoLeft input.toDoEdit {
  background: none;
  border: 1px solid #fff;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  padding-left: 5px;
  margin-left: 5px;
  width: 100%;
  border-radius: 5px;
  display: none;
}
.main .toDo .toDoLeft input.toDoEdit:focus {
  outline: none;
}

.main .toDo .toDoLeft input[type="checkbox"] {
  margin: 3px 0 0 0;
  min-height: 22px;
  min-width: 22px;
}

.main .toDo.completed {
  background: rgba(135, 206, 235,0.5);
}
.main .toDo.completed .toDoLeft input[type="checkbox"]{
  pointer-events: none;
}
.main .toDo.completed .toDoLeft span.toDoText{
  text-decoration: line-through;
}
.main .toDo.completed .toDoRight span.pending{
  display: none;
}
.main .toDo.completed .toDoRight span.completed{
  display: flex;
}

.main .toDo .toDoRight {
  font-size: 20px;
  display: flex;
  align-items: flex-start;
}
.main .toDo .toDoRight > span {
  background: red;
  margin-right: 10px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 20px;
  height: auto;
  font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .toDo .toDoRight > span span{
  padding: 0px 5px;
}
.main .toDo .toDoRight span img{
  height: 21px;
}
.main .toDo .toDoRight span.completed {
  display: none;
  background: green;
}
.main .toDo .toDoRight button {
  font-size: 20px;
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  /* color: #000 !important; */
}
.main .toDo button.saveBtn {
  background: green;
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 8px;
  margin-right: 5px;
  display: none;
  pointer-events: auto;
}


.main .toDo.editMode .toDoLeft span.toDoText {
  display: none;
}
.main .toDo.editMode .toDoLeft input.toDoEdit {
  display: block;
}
.main .toDo.editMode .toDoRight {
  display: none;
}
.main .toDo.editMode button.saveBtn {
  display: block;
}






@media only screen and (max-width: 650px) {

  body {
    padding: 10px;
  }
  
.main .addToDoDiv .input input {
  height: 40px;
  font-size: 17px;
}
.main .addToDoDiv .input .cross {
  font-size: 17px;
}
.main .addToDoDiv .addBtn {
  height: 40px;
  font-size: 17px;
}
.main .toDo {
  padding: 20px 5px 20px 10px;
}
  .main .toDo .toDoLeft {
    margin-right: 5px;
  }
  .main .toDo .toDoLeft input.check{
    min-height: 18px;
    min-width: 18px;
  }
  .main .toDo .toDoRight > span {
    height: 35px;
    width: 35px;
    margin-right: 5px;
    padding: 0;
    /* background: none; */
  }
  .main .toDo .toDoRight > span.completed {
    /* background: none; */
  }
  .main .toDo .toDoRight > span img{
    height: 21px;
    width: 21px;
  }
  .main .toDo .toDoRight > span > span{
    display: none;
  }
}

